{% if current_user.is_authenticated() %}
{% set navigation_bar = [
    (url_for('.home'), 'home', _('home.pagetitle')),
    (url_for('.shows'), 'shows', _('myshows.pagetitle')),
    (url_for('.logout'), 'logout', _('logout'))
] -%}
{% else %}
{% set navigation_bar = [
    (url_for('.login'), 'login', _('login.pagetitle')),
    (url_for('.signup'), 'signup', _('signup.pagetitle'))
] -%}
{% endif -%}

{% set active_page = active_page|default('home') -%}

{% import 'parts.html' as parts -%}

<!DOCTYPE html>
<html lang="en">
  <head>
  {%- block head %}
    <meta charset="utf-8">
    <title>{% block title %}{% if page_name %}{{ page_name }} · {% endif %}{{ _('tvshows') }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if config.DEBUG -%}
    <link rel="stylesheet/less" href="{{ url_for('static', filename='css/less/bootstrap.less') }}">
    <link rel="stylesheet/less" href="{{ url_for('static', filename='css/less/responsive.less') }}">
    <script src="{{ url_for('static', filename='js/less.min.js') }}"></script>
    {%- else -%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheets/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheets/bootstrap-responsive.min.css') }}">
    {%- endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheets/font-awesome.min.css') }}">
    <!--[if IE 7]>
    <link rel="stylesheet" href="./assets/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.png') }}">
  {% endblock -%}
  </head>

  <body class="page_{{ request.endpoint | replace(request.blueprint+'.', '') }}">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="{{ url_for('.home') }}">{{ _('tvshows') }} <sup class="beta">BETA</sup></a>

          {% if current_user.is_authenticated() %}
          <ul class="nav pull-right">
            <li{% if active_page == 'settings' %} class="active"{% endif %}><a href="{{ url_for('.settings') }}"><i class="icon fonticon-cog fonticon-large"></i></a></li>
            <li class="divider-vertical"></li>
          </ul>
          {% endif %}

          <div class="nav-collapse collapse">
            <ul class="nav">
              {% for href, id, caption in navigation_bar %}
              {% if not loop.first %}<li class="divider-vertical"></li>{% endif %}
              <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href }}">{{ caption }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}

    <script>
      SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block scripts -%}
    {%- endblock %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
