{% extends "base.html" %}

{% set active_page = 'login' -%}
{% set page_name = _('login.pagetitle') -%}

{% block content %}
<div id="login" class="container">
    <form method="POST">
      <h3>{{ _('login.heading') }}</h3>
      {{ parts.displayFlashes() }}
      {{ parts.displayFormErrors(form) }}
      
      <fieldset>
        {{ form.csrf_token }}

        <div class="control-group{% if form.username.errors %} error{% endif %}">
          {{ form.username(class_='input-block-level', placeholder=form.username.label.text) }}
        </div>

        <div class="control-group{% if form.password.errors %} error{% endif %}">
          {{ form.password(class_='input-block-level', placeholder=form.password.label.text) }}
        </div>

        <label class="checkbox">
          <input type="checkbox" name="remember"> {{ _('login.rememberme') }}
        </label>

        <button class="btn btn-primary pull-right" type="submit">{{ _('login.submitbutton') }}</button>
        <span class="pull-right">{{ _('login.noaccount')}} <a href="{{ url_for('.signup') }}">{{ _('login.signup') }}</a></span>
      </fieldset>
    </form>
</div>
{% endblock %}
