{% macro unseenEpisodes(show, maxUnseen, moreMult) -%}
  {% set moreMult = moreMult or 1 %}
  <h4><a href="/show/{{show.show_id}}/">{{show.name}}</a> <small>{{ ngettext('unseen.%(num)d_episode', 'unseen.%(num)d_episodes', show.unseenEpisodes|count) }}</small></h4>
  <ul class="unseen">
  {%- for episode in show.unseenEpisodes[:maxUnseen|int * moreMult] %}
    <li>
      <strong>{{episode | episodeNumber}}:</strong> {{episode.title}}
      <small>({{ _('aired') }} {{ episode.airdate | prettyDate(addPrefix=True) }})</small>
      <div class="detail-hover">
        <a class="btn btn-mini" href="{{ show | pirateBayLink(episode) }}" target="_blank"><i class="icon-magnet"></i> {{ _('torrent') }}</a>
        <a class="btn btn-mini" href="{{ show | addic7edLink(episode) }}" target="_blank"><i class="icon-align-left"></i> {{ _('subtitles') }}</a>
        <a class="btn btn-mini" data-action="seen" data-episode-id="{{ episode.episode_id }}" href="javascript:void(0)"><i class="icon-eye-open"></i> {{ _('seen') }}</a>
      </div>
    </li>
  {%- endfor %}
  {%- set leftEpisodes = show.unseenEpisodes|count - maxUnseen|int * moreMult -%}
  {%- if leftEpisodes > 0 %}
    <li><a data-action="more" data-mult="{{moreMult+1}}" href="javascript:void(0)"><i>{{ ngettext('unseen.%(num)d_other', 'unseen.%(num)d_others', leftEpisodes) }}</i></a></li>
  {%- endif %}
  </ul>
  <hr>
{%- endmacro %}

{% macro upcomingRows(upcoming) -%}
  <tbody>
    {%- for show in upcoming %}
    <tr>
      <td>{{show.upcomingEpisodes[0].airdate | prettyDate}}</td>
      <td>{{show.name}}</td>
      <td><small><strong>{{show.upcomingEpisodes[0] | episodeNumber}}:</strong> {{show.upcomingEpisodes[0].title}}</small></td>
    </tr>
    {%- endfor %}
  </tbody>
{%- endmacro %}

{% macro displayFlashes() %}
{% for category, message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-{{ category }}">
  {{ message }}
</div>
{% endfor %}
{%- endmacro %}

{% macro displayFormErrors(form) %}
{% if form.errors %}
  <div class="alert alert-error">
  {% for field in form.errors %}
    {% if form.errors[field] %}
        <strong>{{ form[field].label.text }}:</strong> {{ form.errors[field][0] }}{% if not loop.last %}<br>{% endif %}
    {% endif %}
  {% endfor %}
  </div>
{% endif %}
{% endmacro %}
