{% extends "base.html" %}

{% set active_page = 'shows' -%}

{% set page_name = show.name -%}

{% block content %}
      <div class="container">
        <div id="showdetails" data-show-id="{{ show.show_id }}">
          {{ parts.displayFlashes(True) }}

          <div class="clearfix">
            
            <div class="pull-left img-polaroid">
              <img {% if show.poster %}src="{{ url_for('.get_thumbnail', posterPath=show.poster, size='187x275') }}"{% else %}data-src="holder.js/187x275/text:{{ show.name }}"{% endif %} alt="{{ show.name }}">
              <div><a class="btn" data-toggle="modal" data-target="#posterDialog"><i class="icon-pencil"></i> {{ _('showdetail.changeposter') }}</a></div>
            </div>

            <div id="show-info">
              <a class="btn btn-danger" data-toggle="modal" data-target="#deleteDialog"><i class="icon-eye-close icon-white"></i> {{ _('showdetail.unwatch') }}</a>
              
              <h2>{{ show.name }}</h2>

              <ul class="unstyled">
                <li><strong>{{ _('showdetail.seasons') }}</strong> {{ show.seasons }}</li>
                <li><strong>{{ _('showdetail.status') }}</strong> {{ show.status | localizedShowStatus }}</li>
                <li><strong>{{ _('showdetail.network') }}</strong> {{ show.network }} (<img style="margin-bottom: 0.1em" src="{{ url_for('static', filename='flags/%s.png' % show.country.lower()) }}" alt="Flag" /> {{ show.country }})</li>
                <li><strong>{{ _('showdetail.firstaired') }}</strong> {{ show.first_aired | prettyDate(forceYear=True) }}</li>
                {% if show.last_aired %}
                <li><strong>{{ _('showdetail.lastaired') }}</strong> {{ show.last_aired | prettyDate(forceYear=True) }}</li>
                {% endif %}
                <li></li>
              </ul>
            </div>
          </div>

          <table class="table table-striped">
            <tbody>
              {% for ep in show.episodes %}
              {% if ep.episode == 1 %}
              <tr>
                <th colspan="4">{{ _('showdetail.season_%(num)d', num=ep.season) }}</th>
              </tr>
              {% endif %}
              <tr {% if ep.episode_id <= show.last_seen %}class="muted" {% endif %}data-episode-id="{{ ep.episode_id }}">
                <td>{{ ep | episodeNumber }}</td>
                <td>{{ ep.title }}</td>
                <td>{{ ep.airdate | prettyDate(forceYear=True) }}</td>
                <td style="text-align: right">
                  <a class="btn btn-mini" href="{{ show | downloadLink(ep) }}" target="_blank"><i class="icon-magnet"></i> {{ _('torrent') }}</a>
                  <a class="btn btn-mini" href="{{ show | addic7edLink(ep) }}" target="_blank"><i class="icon-align-left"></i> {{ _('subtitles') }}</a>
                  <a class="btn btn-mini" data-action="seen" href="javascript:void(0)"><i class="icon-eye-open"></i> {{ _('seen') }}</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

    <div id="deleteDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteDialogLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="deleteDialogLabel">{{ _('showdetail.deletedialog.title') }}</h3>
      </div>
      <div class="modal-body">
        <p>{{ _('showdetail.deletedialog.text_%(show)s', show=show.name) }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('cancel') }}</button>
        <a href="{{ url_for('.show_delete', showId=show.show_id) }}" class="btn btn-danger">{{ _('delete') }}</a>
      </div>
    </div>

    <div id="posterDialog" style="width: 750px; margin-left:-375px" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="posterDialogLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="posterDialogLabel">{{ _('showdetail.posterdialog.title') }}</h3>
      </div>
      <div class="modal-body" style="max-height: 610px; padding-bottom:0px">
        <div id="posters-list" data-error-text="{{ _('showdetail.posterdialog.loaderror') }}"></div>
      </div>
      <div class="modal-footer">
        <a href="{{ url_for('.set_poster', showId=show.show_id) }}" class="btn btn-primary" aria-hidden="true"><i class="icon fonticon-reply"></i> {{ _('showdetail.posterdialog.setdefault') }}</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('cancel') }}</button>
      </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/holder.js"></script>
{% endblock %}
