{% extends 'base.html' %}

{% block content %}
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
          <h2>{{ _('home.unseen') }}</h2>

          {% for show in unseen %}
            <div data-show-id="{{ show.show_id }}">
              {{ parts.unseenEpisodes(show) }}
            </div>
          {% endfor %}
        </div>

        <div class="span6">
          <h2>{{ _('home.upcoming') }}</h2>

          <table id="upcoming" class="table table-bordered">
            {{ parts.upcomingRows(upcoming) }}
          </table>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
      function setupButtons(context) {
        $('.btn[data-action="seen"]', context).click(function(e) {
          button = $(this);

          if (button.hasClass('disabled')) return;

          div = button.closest('div[data-show-id]');
          showId = div.data('showId');
          episodeId = button.data('episodeId')

          if (!showId || !episodeId) {
            console.error('No show and/or episode ID found');
            return;
          }

          button.find('> i').removeClass('icon-eye-open').addClass('icon-loader');
          button.addClass('disabled');

          $.getJSON('/ajax/unseen/' + showId + '/' + episodeId, function(data, status, xhr) {
            if (xhr.status == 200) {
              div.html(data.unseen);
              setupButtons(div);
              $('table#upcoming').html(data.upcoming);
            }
          }).error(function (xhr, textStatus, errorThrown) {
            console.error(errorThrown);
            button.find('> i').removeClass('icon-loader').addClass('icon-eye-open');
            button.removeClass('disabled');
          });
        });
      }

      setupButtons();
    </script>
{% endblock %}

