{% extends "base.html" %}

{% set page_name = _('login.pagetitle') -%}

{% block content %}
<style>
body {
  background-color: #F5F5F5;
}
</style>
<div id="login" class="container">
    <form method="POST">
      <h3>{{ _('login.heading') }}</h3>
      {{ parts.displayFlashes() }}
      <fieldset>
        <input class="input-block-level" type="text" name="username" placeholder="{{ _('login.placeholder.username') }}">
        <input class="input-block-level" type="password" name="password" placeholder="{{ _('login.placeholder.password') }}">
        <label class="checkbox">
          <input type="checkbox" name="remember"> {{ _('login.rememberme') }}
        </label>
        <button class="btn btn-primary pull-right" type="submit">{{ _('login.submitbutton') }}</button>
      </fieldset>
    </form>
</div>
{% endblock %}
