{% set maxUnseen = 4 %}

{% macro unseenEpisodes(show) %}
  <h4><a href="/show/{{show.show_id}}/">{{show.name}}</a> <small>{{ show.unseenEpisodes|count }} épisode{% if show.unseenEpisodes|count > 1 %}s{% endif %}</small></h4>
  <ul class="unseen">
  {% for episode in show.unseenEpisodes[:maxUnseen] %}
    <li>
      <strong>{{episode | episodeNumber}}:</strong> {{episode.title}}
      <small>(diffusé {{ episode.airdate | prettyDate(addPrefix=True) }})</small>
      <div class="detail-hover hide">
        <a class="btn btn-mini" href="#"><i class="icon-magnet"></i> Torrent</a>
        <a class="btn btn-mini" href="#"><i class="icon-align-left"></i> Sous-titres</a>
        <a class="btn btn-mini" data-action="seen" data-episode-id="{{ episode.episode_id }}" href="#"><i class="icon-eye-open"></i> Vu</a>
      </div>
    </li>
  {% endfor %}
  {% set leftEpisodes = show.unseenEpisodes|count - maxUnseen %}
  {% if leftEpisodes > 0 %}
    <li><i>{{ leftEpisodes }} autre{% if leftEpisodes > 1 %}s{% endif %}&hellip;</i></li>
  {% endif %}
  </ul>
  <hr>
{%- endmacro %}

{% macro upcomingRows(upcoming) %}
  <tbody>
    {% for show in upcoming %}
    <tr>
      <td>{{show.upcomingEpisodes[0].airdate | prettyDate}}</td>
      <td>{{show.name}}</td>
      <td><small><strong>{{show.upcomingEpisodes[0] | episodeNumber}}:</strong> {{show.upcomingEpisodes[0].title}}</small></td>
    </tr>
    {% endfor %}
  </tbody>
{%- endmacro %}
