{% extends "base.html" %}

{% set active_page = 'shows' -%}

{% set page_name = _('myshows.pagetitle') -%}

{% block content -%}
    <div class="container">
      <h2>{{ _('myshows.pagetitle') }}</h2>

      <ul class="thumbnails sortable" style="margin: 0 auto">
      {%- for show in shows %}
        <li data-show-id="{{ show.show_id }}">
          <a href="/show/{{ show.show_id }}/" class="thumbnail">
          {%- if show.poster -%}
            <img src="{{ url_for('get_thumbnail', posterPath=show.poster, size='187x275') }}" alt="{{ show.name }}">
          {%- else -%}
            <img data-src="holder.js/187x275/text:{{ show.name }}" alt="{{ show.name }}">
          {%- endif -%}
          </a>
        </li>
      {%- endfor %}
      </ul>
    </div>
{%- endblock %}

{% block scripts %}
    <script src="/static/js/holder.js"></script>
    <script src="/static/js/jquery.sortable.min.js"></script>
{% endblock %}
