{% extends "base.html" %}

{% set active_page = 'shows' -%}

{% set page_name = show.name -%}

{% block content %}
    <div class="container">
      <h2>
        {{ show.name }}
        <button class="btn btn-small btn-danger" type="button" data-toggle="modal" data-target="#deleteDialog"><i class="icon-trash icon-white"></i> {{ _('delete') }}</button>
      </h2>
      {% if show.poster_path %}
        <img src="{{ show.poster_path }}" width="187" height="275" alt="{{ show.name }}">
      {% else %}
        <img data-src="holder.js/187x275/text:{{ show.name }}" alt="{{ show.name }}">
      {% endif %}

      <h3>Saison 1</h3>
      
      {% for ep in show.episodes %}
        {% if (ep.episode == 1 and not loop.first) or loop.last %}
          </tbody>
        </table>
        <hr>
        {% endif %}

        {% if ep.episode == 1 %}
        <table class="table table-striped" style="width: 70%; margin: 0 auto;">
          <tbody>
        {% endif %}

            <tr>
              <td>{{ ep | episodeNumber }}</td>
              <td>{{ ep.title }}</td>
              <td>{{ ep.airdate | prettyDate(forceYear=True) }}</td>
            </tr>
      {% endfor %}
    </div>

    <div id="deleteDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteDialogLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="deleteDialogLabel">{{ _('showdetail.deletedialog.title') }}</h3>
      </div>
      <div class="modal-body">
        <p>{{ _('showdetail.deletedialog.text_%(show)s', show=show.name) }}</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('cancel') }}</button>
        <a href="{{ url_for('show_delete', showId=show.show_id) }}" class="btn btn-danger">{{ _('delete') }}</a>
      </div>
    </div>
{% endblock %}
