{% extends "base.html" %}

{% set active_page = 'signup' -%}
{% set page_name = _('signup.pagetitle') -%}

{% block content %}
<div id="signup" class="container">
    <form method="POST">
      <h3>{{ _('signup.heading') }}</h3>
      {{ parts.displayFlashes() }}
      {{ parts.displayFormErrors(form) }}
      
      <fieldset>
        <span class="help-block">{{ _('signup.allfieldsrequired') }}</span>

        {{ form.csrf_token }}

        <div class="control-group{% if form.username.errors %} error{% endif %}">
          {{ form.username(class_='input-block-level', placeholder=form.username.label.text) }}
        </div>

        <div class="control-group{% if form.password.errors %} error{% endif %}">
          {{ form.password(class_='input-block-level', placeholder=form.password.label.text) }}
        </div>

        <div class="control-group{% if form.confirm.errors or form.password.errors %} error{% endif %}">
          {{ form.confirm(class_='input-block-level', placeholder=form.confirm.label.text) }}
        </div>

        <button class="btn btn-success pull-right" type="submit">{{ _('signup.submitbutton') }}</button>
      </fieldset>
    </form>
</div>
{% endblock %}
